/* Colors: */
$dark-purple:#5f5c6d;
$purple: #aca9bb;
$vivid-purple: #8685ef;
$mint: #9fc4b7;
$light-mint: #d6fcef;
$vivid-mint: #9eedef;
$white: #F4F4F4;
$grey: #545454;

/* Screen sizes: */
$mobile: 100px;
$tablet: 700px;
$desktop: 1024px;
$desktop-large: 1600px;