/* Colors: */
$dark-blue: #001B2E;
$blue: #294C60;
$light-blue: #95A0B2;
$beige: #ADB6C4;
$peach: #FFC49B;
$white: #F4F4F4;
/* Screen sizes: */
$mobile: 100px;
$tablet: 700px;
$desktop: 1024px;
$desktop-large: 1800px;